fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
python-multipart
pydantic[email]
bcrypt
PyJWT
openpyxl
XlsxWriter
pymodbus
asyncua
cryptography
numpy
statsmodels
python-jose[cryptography]
fpdf2
